/**
 * about section styling
*/

$info-font-size: 20px;
$secondary-font: 'Roboto', sans-serif;
$container-color: #8577f5;

.information-section {
  display: inline-block;
  vertical-align:top;
  position: relative;
  box-sizing: border-box;
  padding: 1.75%;
}

.information-section {
  img {
    width: 40% !important;
  }
}

.info-wrapper {
  span {
    padding: 5px;
    font-size: $info-font-size;
  }

  padding: 5px 0px;
}

.info-container {
  border: 3px solid blue;
  background-color: $container-color; 
}

#information {
  margin: 0px 5%;
  overflow: hidden;
  background-color: #8282e6;
  border: 2.5px solid blue;
  font-family: $secondary-font;
}

#information::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

#info-info {
  text-align: left;
  float: left;
  font-size: 19.5px;
}

.info-image {
  width: 20% !important;
}

#basic-info {
}
