/**
 * about section styling
*/

$info-font-size: 20px;
$secondary-font: 'Roboto', sans-serif;
$container-color: #8577f5;
$about-border: 3px solid blue;

.information-section {
  display: inline-block;
  vertical-align:top;
  position: relative;
  box-sizing: border-box;
  padding: 1.75%;
}

.info-wrapper {
  span {
    padding: 5px;
    font-size: $info-font-size;
  }

  padding: 5px 0px;
}

.info-container {
  border: $about-border;
  background-color: $container-color;
}

#information {
  margin: 0px 5%;
  overflow: hidden;
  background-color: #8282e6;
  border: $about-border;
  font-family: $secondary-font;
}

#information::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

#info-info {
  float: right;
  font-size: 19.5px;
  width: 30%;
  font-family: $secondary-font;
  margin-right: 5%;
}

.info-image {
  width: 20% !important;
}

#basic-info {
  font-family: $secondary-font;
  margin-left: 5%;
}

.info-container {
  filter: drop-shadow(2px 4px 6px grey);

  p {
    margin: 20px 20px 0px 20px;
    text-align: right;
  }
}

.carousel-container {
    width: 30%;
    margin: 0px 5%;
    border: $about-border;
    filter: drop-shadow(2px 4px 6px grey);

    img {
      margin: auto;
    }
}

.about-content {
  display: flex;
  align-items: center;
}

#town-swim {
  max-height: 332px;
  width: auto !important;
}

.carousel-inner {
  background-color: black;
}
