/**
 * about section styling
*/

$info-width: 30%;
$info-font-size: 20px;

.information-section {
  display: inline-block;
  width: $info-width;
  vertical-align:top;
  padding: 10px;
  position: relative;
}

.info-wrapper {
  span {
    padding: 5px;
    font-size: $info-font-size;
  }

  padding: 5px 0px;
}

#information {
  margin: 0px 5%;
  border: 2px solid black;
  overflow: hidden;
}

#information::before {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

#info-info {
  text-align: right;
  float: right;
  font-size: 19.5px;
}
