/*
 * 'view resume' button styling
*/

.banner-button {
}

#banner-button {
  height: 60px;
  width: 300px;
  background-color: Transparent;
  border: 3px solid white;
  text-decoration: none;
}

#banner-button {
  a {
    text-decoration: none;
  }
}


#banner-button:hover {
  color: Transparent;
  background-color: white;
  text-decoration: none;
}
