/*
 * 'view resume' button styling
*/

$secondary-color: #7fb3ef;
$title-font: 'Rajdhani', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$button-color: #d7f3ff;

#banner-link {
  text-decoration: none;
  color: $secondary-color;
  font-size: 16px;
}

#banner-button {
  font-family: $title-font;
  height: 60px;
  width: 300px;
  background-color: Transparent;
  border: 3px solid $secondary-color;
  text-decoration: none;
  margin-top: 30px;
  filter: drop-shadow(10px 10px 5px black);
  transition: .2s all;
}

#banner-text {
  font-size: 24px;
  font-weight: 1000;
}

#banner-button:hover {
  background-color: $secondary-color;
  text-decoration: none;
  color: black;
}

.invisible-button {
  opacity: 0;
}

#navbar-button {
  font-family: $title-font;
  font-size: 16px;
  position: absolute;
  margin-top: 16px;
  margin-left: 80px;
  background-color: $button-color;
  border: none;
  padding: 5px 10px;
  transition: .2s all;
}

#navbar-button:hover {
  transform: scale(1.1, 1.1);
}

#navbar-button {
  a {
    color: black !important;
    font-weight: bold;
  }
}

#resume-button {
  background-color: $button-color;
  font-family: $secondary-font;
  border: none;
  margin: 20px;
  float: right;
  padding: 10px;
  transition: .2s all;

  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
  }
}

#resume-button:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 1100px) {
  #resume-button {
    margin-left: 42.5%;
    float: none; 
  }
}
