/**
 * footer section styling
*/

$footer-height: 200px;
$footer-color: #7e00f1;
$title-font: 'Rajdhani', sans-serif;
$secondary-color: #de0eff;

#footer {
  font-family: $title-font;
  height: $footer-height;
  background-color: $footer-color;
  text-align: center;
  font-size: 22px;
  border-top: 2.5px solid blue;
  color: $secondary-color !important;
}


.footer-col {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 60px;
}

.address {
  float: left;
  text-align: left;
  margin-left: 30px;
}

.contact {
  float: right;
  text-align: right;
  margin-right: 30px;
}

.footer-name {
  font-size: 32px;
}

@media screen and (max-width: 720px) {
  #footer {
    font-size: 16px !important;
  }

  .footer-name {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 500px) {
  #footer {
    font-size: 10px !important;
  }

  .footer-name {
    font-size: 16px !important; 
  }
}

@media screen and (max-width: 400px) {
  #footer {
    font-size: 8px !important;
  }

  .footer-name {
    font-size: 12px !important;
  }
}
