/**
 * footer section styling
*/

$footer-height: 350px;
$footer-color: #3366ff;
$title-font: 'Rajdhani', sans-serif;
$secondary-color: black;
$footer-border: 10px solid #003366;

.fa {
  color: white;
  transform: scale(2);
  padding: 10px;
}

.fa:hover {
  color: #84ccea;
}

#footer {
  font-family: $title-font;
  height: $footer-height;
  background-color: $footer-color;
  text-align: center;
  font-size: 22px;
  border-top: $footer-border;
  color: $secondary-color !important;

  a {
    margin: 0px 10px;
    transition: .2s all;
  }

  a:hover {
    text-decoration: none;
  }

  a:focus {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}

.footer-col {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 60px;
  width: 30%;
  vertical-align: top;
}

.address {
}

.contact {
  float: right;
  text-align: right;
  margin-right: 30px;
}

.footer-name {
  font-size: 35px;
}

.quick-links {
  #ql-title {
    float: left;
    font-size: 27px;
    padding-bottom: 10px;
  }

  a {
    color: black;
    float: left;
    margin: 0px !important;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
  }

  a:hover {
    color: #84ccea;
  }
}

.mit-info {
  text-align: right;

  #mit {
    font-size: 27px;
  }

  .mit-info {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  #footer {
    font-size: 16px !important;
  }

  .footer-name {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 500px) {
  #footer {
    font-size: 10px !important;
  }

  .footer-name {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 400px) {
  #footer {
    font-size: 8px !important;
  }

  .footer-name {
    font-size: 12px !important;
  }
}
