/**
 * main, overall styling
*/

$main-background-color: #8742f5;
$font-color: white;

body {
  background-color: $main-background-color;
  color: $font-color;
}

.section {
  padding-top: 100px;
}

.sub-title {
    padding: 0px 0px 25px 75px;
}

#background-image {
  height: 630px;
  background: url('../../townSwim.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-position: center center;
  text-align: center;
}

#title {
  font-size: 40px;
  margin-top: 0;
  padding-top: 250px;

}

#subtitle {

}
