/**
 * main, overall styling
*/

$main-background-color: #daa5ff;
$title-color: #e300ff;
$font-color: black;
$title-shadow: drop-shadow(10px 10px 5px black);
$title-font: 'Rajdhani', sans-serif;
$subtitle-color: #7e00f1;

body {
  background-color: $main-background-color;
  color: $font-color;
  line-height: 1.75;
}

.section {
  padding-top: 100px;
}

.sub-title {
    padding: 0px 0px 25px 75px;
}

#background-image {
  height: 630px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../nov.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-position: center center;
  text-align: center;
}

#title {
  font-size: 72px;
  margin-top: 0;
  padding-top: 250px;
  color: white;
  font-family: $title-font;
  font-weight: 500;
  color: $title-color;
  filter: $title-shadow;
}

#subtitle {
  color: $title-color;
  filter: $title-shadow;
  font-family: $title-font;
}

.sub-title {
  color: $subtitle-color;
  font-family: $title-font;
  font-size: 48px;
  font-weight: 700;
  filter: drop-shadow(2px 4px 6px grey);
}

@media screen and (max-width: 700px) {
  .sub-title {
    padding-left: 30px;
  }
}
