/**
 * main, overall styling
*/

$main-background-color: #96B8DE;
$title-color: #7fb3ef;
$font-color: black;
$title-shadow: drop-shadow(10px 10px 5px black);
$title-font: 'Rajdhani', sans-serif;
$subtitle-color: black;

body {
  background-color: $main-background-color;
  color: $font-color;
  line-height: 1.75;
}

.section {
  padding-top: 100px;
}

.sub-title {
    padding: 0px 0px 25px 75px;
}

#background-image {
  height: 630px;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('../../nov.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-position: center center;
  text-align: center;
}

#title {
  font-size: 72px;
  margin-top: 0;
  padding-top: 200px;
  color: white;
  font-family: $title-font;
  font-weight: 500;
  color: $title-color;
  filter: $title-shadow;
  border-bottom: 1px solid $title-color;
  width: 30%;
  margin: auto
}

#subtitle {
  color: $title-color;
  filter: $title-shadow;
  font-family: $title-font;
}

.sub-title {
  color: $subtitle-color;
  font-family: $title-font;
  font-size: 48px;
  font-weight: 700;
  filter: drop-shadow(2px 4px 6px grey);
}

#ps-logo {
  display: flex;
  height: 70px;
  padding: 15px;
}

@media screen and (max-width: 700px) {
  .sub-title {
    padding-left: 30px;
  }

  #title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1300px) {
  #title {
    margin-top: -50px;
  }
}
