/*
 * navbar navigation
*/

$primary-navbar-height: 100px;
$secondary-navbar-height: 70px;
$navbar-color: #7e00f1;
$title-font: 'Rajdhani', sans-serif;
$title-color: #de0eff;

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: $navbar-color;
  transition: height 0.3s;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-bottom: 2.5px solid blue;
  border-radius: 0px;
}

.navbar {
  font-family: $title-font;

  li {
    display: inline;
    padding: 0px 30px;
    font-size: 14px;
  }
}

.navbar {
  ul {
    text-align: center;
    display: inline-flex;
  }
}

.navbar {
  a {
    color: black;
    display: flow-root;
  }

  a:hover {
    color: $title-color;
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
    color: $title-color;
  }
  a:active {
    text-decoration: none;
    color: $title-color;
  }
}

.primary-navbar {
  height: $primary-navbar-height;
}

.secondary-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: $secondary-navbar-height;
}


#navbar-container {
  text-align: center;
}

.navbar-icon {
  height: 35px;
  margin: 20px 20px 10px 20px;
  transition: opacity 0.2s;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.remove-icon {
  opacity: 0;
}

.navbar-link {
  top: -40px;
  position: relative;
  transition: top 0.2s;
  transition-property: top;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.current {
  color: $title-color !important;
}

.hamburger {
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 9px auto;
}

#hamburger-container {
  border: 1px solid black;
  width: 50px;
  border-radius: 10px;
  background-color: Transparent;
}

#mobile-navbar {

}

#hamburger-container:hover {
  background-color: $title-color;
  cursor: pointer;
}

.mobile-navbar-link {
  text-decoration: none;
  color: black;
  font-family: $title-font;
}

.mobile-navbar-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: $title-color;
}

.invisible-links {
  display: none;
}
