/*
 * navbar navigation
*/

$navbar-height: 100px;
$navbar-color: #5204cf;

#primary-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: $navbar-height;
  background-color: $navbar-color;
}

#primary-navbar {
  li {
    display: inline;
    padding: 0px 30px;
    font-size: 11px;
  }
}

#primary-navbar {
  ul {
    text-align: center;
    display: inline-flex;
  }
}

#primary-navbar {
  a {
    color: gray;
    display: flow-root;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
    color: white; 
  }
  a:active {
    text-decoration: none;
    color: white;
  }
}

#secondary-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $navbar-color;
  z-index: 1;
}

#secondary-navbar {
  li {
    display: inline;
    padding: 0px 30px;
    font-size: 13px;
  }
}

#secondary-navbar {
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

#navbar-container {
  text-align: center;
}

.invisible-navbar {
  visibility: hidden;
}

.navbar-icon {
  height: 45px;
  margin: 10px 20px;
}

.navbar-label {
  text-transform: capitalize;
}
