/**
 * portfolio section styling
*/

$content-width: 80%;
$content-font-size: 18px;

.portfolio-section {
  box-sizing: border-box;
  margin: 75px 100px 75px 100px;
  display: inline-block;

  img {
    display: inline-block;
  }

  p {
    width: $content-width;
    display: inline-block;
    text-align: left;
    padding: 0px 30px;
    vertical-align: -webkit-baseline-middle;
    font-size: $content-font-size;
  }

  a:hover {
    text-decoration: none;
  }
}


.portfolio-image {
   width: 100px;
   filter: drop-shadow(10px 10px 10px #3b3b39);
   transition: .2s all;
}

.portfolio-image:hover {
  transform: scale(1.2, 1.2);
}

.portfolio-container {
  text-align: center;
}

#nasdaq-container {
  background-color: #be58fd;
  font-weight: 100;
  font-family: "nudista-web",Helvetica,Arial,sans-serif;
  font-style: normal;

  img {
    height: 125px;
    width: auto;
  }
}

#csail-container {
  background-color: #ac43fb;
  font-family: "basis-grotesque-regular", sans-serif;
  font-feature-settings: "kern","liga","pnum";
  font-size: 1em;
  font-weight: normal;

  img {
    height: 125px;
    width: auto;
  }
}

#livedata-container {
  background-color: #cd6ffd;
  font-family: Open Sans,Sans-Serif;

  img {
    height: 50px;
    width: auto;
  }
}

#sendfriend-container {
  background-color: #c979fb;
  font-family: 'Gramatika Reg',sans-serif;

  img {
    height: 100px;
    width: auto;
  }
}

#ryc-container {
  background-color: #b21cf1;
  font-family: Helvetica, Arial,sans-serif;
}

#ymca-container {
  background-color: #b03ef7;
  font-family: Verdana, Sans-Serif;

  img {
    height: 105px;
      width: auto;
  }
}

@media screen and (max-width: 900px) {
  .portfolio-section {
    margin: 3% 0px;

    .portfolio-image {
      display: flex;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
