/**
 * portfolio section styling
*/

$content-width: 80%;
$content-font-size: 18px;

.portfolio-section {
  box-sizing: border-box;
  margin: 0px 100px 50px 100px;

  img {
    display: inline-block;
  }

  p {
    width: $content-width;
    display: inline-block;
    text-align: left;
    padding: 0px 30px;
    vertical-align: -webkit-baseline-middle;
    font-size: $content-font-size;
  }

  display: inline-block;
}


.portfolio-image {
   width: 100px;
}

.portfolio-container {
  text-align: center;
}
