/**
 * portfolio section styling
*/

$content-width: 80%;

.portfolio-section {
  img {
    display: inline-block;
  }

  p {
    width: $content-width;
    display: inline-block;
  }

  display: inline-block;
}


.portfolio-image {
   height: 80px;
}
