/**
  * resume page styling
*/

$navbar-color: #3366ff;
$navbar-underline: 5px solid #003366;
$font: 'Roboto', sans-serif;

#resume-header {
  background-color: $navbar-color;
  border-bottom: $navbar-underline;
  height: 100px;
}
#ps-logo {
  height: 70px;
  padding: 15px;
  margin-top: 10px;
}

#go-back {
  background-color: #d7f3ff;
  border: none;
  padding: 5px 10px;
  transition: .2s all;
  margin: 25px;
  vertical-align: middle;
  box-sizing: border-box;
  height: 50px;
  float: right;

  a {
    color: black;
    font-weight: bold; 
    font-family: $font;
    padding: 15px;
    font-size: 18px;
  }

  a:hover {
    text-decoration: none;
  }
}

#go-back:hover {
  transform: scale(1.1, 1.1);
}
