/**
 * skills styling
*/


$skill-height: 80px;
$skill-width: 220px;
$skills-marrgin-left: 7.5%;
$skills-margin-right: 7.5%;
$skill-margin-bottom: 30px;

#skills {
  margin-left: $skills-marrgin-left;
  margin-right: $skills-margin-right;
  text-align: center;
}

.skill-box {
   display: inline-block;
   width: $skill-width;
   box-sizing: border-box;
   margin-bottom: $skill-margin-bottom;
   text-align: center;
}

.skill {
  height: $skill-height;
}
